* {
	box-sizing: border-box;
}

:root {
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

html,
body {
	width: 100%;
	height: 100vh;
	margin: 0;
	overflow: hidden;
}

.highcharts-figure,
#container {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}

.toast {
	width: 300px;
	margin: 20px;
	padding: 10px;
	position: absolute;
	box-shadow: 0 0 5px 0px lightgray;
	z-index: 9999;
	opacity: 0;
	pointer-events: none;
	overflow: hidden;
	white-space: nowrap;
}

.toast:hover {
	white-space: wrap;
}

.toast.success {
	background-color: lightgreen;
}
.toast.error {
	background-color: coral;
}
.toast.info {
	background-color: #add8e6;
}

.toast p {
	margin: 0;
	overflow: hidden;
	text-overflow: ellipsis;
}

#reload-btn {
	position: absolute;
	z-index: 99;
	max-height: 24px;
	top: 11px;
	left: 140px;
	font-size: 12px;
	padding: 4.2px 8px;
	background-color: #ffffff;
	border: 1px solid #cccccc;
	border-radius: 2px;
	color: #333333;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 80px;
}

#reload-btn:hover {
	background-color: #e6e6e6;
}

#reload-btn.reloading {
	background-color: #eeeeee;
}

#reload-btn .fa {
	font-size: 9px;
}

@media screen and (max-width: 600px) {
	.highcharts-exporting-group .highcharts-button-normal {
		display: none !important;
	}
}
