* {
	box-sizing: border-box;
}

:root {
	font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
		"Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

html,
body {
	width: 100%;
	height: 100vh;
	margin: 0;
}

.highcharts-figure,
#container {
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
}
