<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Stromzaehler</title>
		<script src="https://code.highcharts.com/stock/highstock.js"></script>
		<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
		<script src="https://code.highcharts.com/modules/exporting.js"></script>
		<script src="https://code.highcharts.com/themes/grid.js"></script>
		<link
			rel="shortcut icon"
			href="{{ url_for('static', filename='favicon.ico') }}"
			type="image/x-icon"
		/>
		<script
			type="text/javascript"
			src="https://www.highcharts.com/samples/data/usdeur.js"
		></script>
		<script src="../static/charts.js" defer></script>
		<script src="../static/script.js" defer></script>
		<link rel="stylesheet" href="../static/style.css" />
	</head>
	<body>
		<div class="toasts">
			{% with messages = get_flashed_messages(with_categories=true) %} {%
			if messages %} {% for category, msg in messages %}
			<div class="toast {{category}}">
				<p>{{msg}}</p>
			</div>
			{% endfor %} {% endif %} {% endwith %}
		</div>
		<form
			action="/rec_xml_file"
			method="POST"
			style="display: none"
			enctype="multipart/form-data"
		>
			<input
				type="file"
				name="file-input"
				id="file-input"
				multiple
				accept="text/xml"
			/>
			<input type="submit" id="submit-btn" />
		</form>
		<figure class="highcharts-figure">
			<div id="container"></div>
		</figure>
	</body>
</html>
